In [1]:
class Employee:
    def __init__(self, name, no, dept, salary):
        self.name = name
        self.no = no
        self.dept = dept
        self.salary = salary

    def add(self, Name, no, dept, salary):
        ob = Employee(Name, no, dept, salary)
        ls.append(ob)

    def display(self, ob):
        print("Name : ", ob.name)
        print("Id No : ", ob.no)
        print("Dept : ", ob.dept)
        print("Salary : ", ob.salary)
        print("\n")

    def search(self, idn):
        for i in range(ls.__len__()):
            if(ls[i].no == idn):
                return i
    
    def delete(self, idn):
        i = obj.search(idn)
        del ls[i]

In [2]:
ls = []
obj = Employee('', 0, '',0)

In [3]:
obj.add("Ishav", 1, "CSE", 10000)

In [4]:
obj.add("Arjun", 2, "CSE", 50000)

In [5]:
s = obj.search(2)
obj.display(ls[s])

Name :  Arjun
Id No :  2
Dept :  CSE
Salary :  50000

In [6]:
for i in range(ls.__len__()):
    obj.display(ls[i])

Name :  Ishav
Id No :  1
Dept :  CSE
Salary :  10000


Name :  Arjun
Id No :  2
Dept :  CSE
Salary :  50000

In [7]:
obj.delete(2)

In [8]:
for i in range(ls.__len__()):
    obj.display(ls[i])

Name :  Ishav
Id No :  1
Dept :  CSE
Salary :  10000